@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@font-face {
  font-family: "Franklin Gothic FS Book";
  src: url("/static/fonts/FranklinGothic-Book.eot");
  src: url("/static/fonts/FranklinGothic-Book.eot?#iefix") format("embedded-opentype"), url("/static/fonts/FranklinGothic-Book.woff") format("woff"), url("/static/fonts/FranklinGothic-Book.ttf") format("truetype"), url("/static/fonts/FranklinGothic-Book.svg#webfont") format("svg"); }
@font-face {
  font-family: "Franklin Gothic FS Book";
  src: url("/static/fonts/FranklinGothic-BookIt.eot");
  src: url("/static/fonts/FranklinGothic-BookIt.eot?#iefix") format("embedded-opentype"), url("/static/fonts/FranklinGothic-BookIt.woff") format("woff"), url("/static/fonts/FranklinGothic-BookIt.ttf") format("truetype"), url("/static/fonts/FranklinGothic-BookIt.svg#webfont") format("svg");
  font-style: italic; }
html {
  position: relative;
  min-height: 100%; }

body {
  font-family: "Franklin Gothic FS Book", Helvetica, Arial, sans-serif;
  color: #22313f;
  margin-bottom: 16em; }

::selection {
  background: #f4d03f; }

::-moz-selection {
  background: #f4d03f; }

#header h1 {
  text-indent: -9999px;
  position: fixed;
  top: 0.5em;
  right: 1em;
  content: " ";
  background: url("/static/vector/logo.svg");
  width: 9.5em;
  height: 5em;
  background-size: 9.5em 5em; }

article header h1, article header time {
  display: inline; }
article header time {
  color: #bdc3c7;
  font-size: 1.2em;
  padding-left: 0.5em; }
article footer {
  margin-top: 4em; }
  article footer ul {
    margin-bottom: 6em;
    list-style: none;
    padding-left: 0; }
    article footer ul li {
      display: inline; }
      article footer ul li a {
        text-decoration: none;
        font-size: 1.2em;
        color: #f2f1ef;
        padding: 0.5em 1em; }
      article footer ul li .twitter {
        background: #55acee; }
      article footer ul li .google-plus {
        background: #dd4b39; }
      article footer ul li .hacker-news {
        background: #ff8937; }
      article footer ul li .lobsters {
        background: #ac120d; }
article section img {
  max-width: 640px; }
article section a {
  color: #1e8bc3;
  font-weight: bold; }
article section a:visited {
  color: #2574a9; }

#disqus_thread a {
  color: #1e8bc3; }

article + article {
  margin-top: 4em; }

#footer {
  background: #1e8bc3;
  color: #f2f1ef;
  width: 100%;
  margin-top: 6em;
  font-size: 1.2em;
  padding-top: 2em;
  padding-bottom: 1em;
  position: absolute;
  left: 0;
  bottom: 0; }
  #footer a {
    color: #f2f1ef;
    text-decoration: none; }
  #footer strong {
    padding-right: 1em;
    letter-spacing: 0.05em; }
  #footer ul {
    list-style: none;
    padding-left: 0;
    font-size: 0.9em; }
    #footer ul li {
      display: inline; }
    #footer ul li + li {
      padding-left: 1em; }

#footer > div {
  width: 640px;
  margin-left: 20%; }

#body {
  width: 640px;
  margin-left: 20%;
  margin-top: 4em; }
  #body h1, #body h2, #body h3, #body h4, #body h5, #body h6 {
    font-family: "Montserrat", Verdana, Geneva, sans-serif; }
  #body h1 {
    font-size: 2em; }
    #body h1 a {
      color: #22313f;
      text-decoration: none; }
  #body section > p, #body section li, #body section blockquote {
    font-size: 1.4em;
    line-height: 1.4em; }
  #body section ul {
    padding-left: 1.5em; }
  #body section ol {
    padding-left: 2em; }
  #body section blockquote {
    color: #95a5a6; }
  #body section code {
    font-family: Inconsolata-g, Inconsolata, "Courier New", Courier, monospace;
    margin: 0 0.25em;
    font-size: 0.8em; }
  #body section pre {
    padding: 2em; }
    #body section pre code {
      line-height: 1.4em;
      margin: 0;
      font-size: 0.8em; }
  #body section hr {
    border: 0;
    margin: 4em 0; }
    #body section hr:before {
      content: "* * *";
      font-size: 1.4em;
      letter-spacing: 0.5em;
      color: #bdc3c7; }

@media (max-width: 1536px) {
  #header {
    width: 640px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto; }
    #header h1 {
      position: static; }

  #footer > div, #body {
    margin-left: auto;
    margin-right: auto; } }
@media (max-width: 640px) {
  #body {
    width: auto; }

  #header {
    width: auto; }
    #header h1 {
      width: auto;
      background-repeat: no-repeat; }

  article section img {
    max-width: 100%;
    max-height: auto; }
  article footer ul li {
    display: block; }
  article footer ul li + li {
    margin-top: 2em; }

  #footer > div {
    width: auto; }

  #footer em {
    display: block; } }
