---
---

// http://flatuicolorpicker.com/
$saffron1: #F4D03F
$cararra: #F2F1EF
$silver-sand: #BDC3C7
$porcelain: #ECF0F1
$madison: #2C3E50
$ebony-clay: #22313F
$curious-blue: #1E8BC3
$jelly-bean: #2574A9

$golden-ratio: 1.61803398875

$body-width: 560px
$x-width: 40px
$y-height: 80px

$header-scale: 1.5
$header-width: 180px * $header-scale
$header-height: 100px * $header-scale

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700)

@import url(http://fonts.googleapis.com/css?family=Inconsolata)

@font-face
    font-family: "Franklin Gothic FS Book"
    src: url("/static/fonts/FranklinGothic-Book.eot")
    src: url("/static/fonts/FranklinGothic-Book.eot?#iefix") format("embedded-opentype"), url("/static/fonts/FranklinGothic-Book.woff") format("woff"), url("/static/fonts/FranklinGothic-Book.ttf") format("truetype"), url("/static/fonts/FranklinGothic-Book.svg#webfont") format("svg")

@font-face
    font-family: "Franklin Gothic FS Book"
    src: url("/static/fonts/FranklinGothic-BookIt.eot")
    src: url("/static/fonts/FranklinGothic-BookIt.eot?#iefix") format("embedded-opentype"), url("/static/fonts/FranklinGothic-BookIt.woff") format("woff"), url("/static/fonts/FranklinGothic-BookIt.ttf") format("truetype"), url("/static/fonts/FranklinGothic-BookIt.svg#webfont") format("svg")
    font-style: italic

@mixin improved-underline
    // http://stackoverflow.com/a/12282093/458610

    a
        text-decoration: none
        position: relative

    a:after
        content: ''
        width: 100%
        position: absolute
        left: 0
        bottom: -1px
        border-width: 0 0 1px
        border-style: dotted
        color: $silver-sand

@mixin hide-text
    // http://stackoverflow.com/a/471538/458610

    text-indent: 100%
    white-space: nowrap
    overflow: hidden

// https://github.com/mrmrs/fluidity
img, canvas, iframe, video, svg, select, textarea
    max-width: 100%

// https://css-tricks.com/box-sizing/
html
    box-sizing: border-box
*, *:before, *:after
    box-sizing: inherit

body
    // https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
    display: flex
    min-height: 100vh
    flex-direction: column
    background: white
    text-rendering: optimizelegibility
    font-family: "Franklin Gothic FS Book", Helvetica, Arial, sans-serif

#header
    h1
        @include hide-text

        position: fixed
        top: $y-height / 2
        right: $x-width
        margin: 0
        background: url("/static/vector/logo.svg")
        width: $header-width
        height: $header-height
        background-size: $header-width $header-height

#body
    flex: 1
    max-width: $body-width
    margin:
        left: 20%
        top: $y-height
        bottom: $y-height

    article
        color: $ebony-clay

        h1, h2, h3, h4, h5, h6
            font-family: "Montserrat", Verdana, Geneva, sans-serif

        a
            text-decoration: none
            color: $curious-blue

        header
            h1, time
                display: inline

            a
                color: $ebony-clay

            h1
                margin-right: 10px

            time
                color: $silver-sand
                font-size: 18px

        section
            // http://www.pearsonified.com/2011/12/golden-ratio-typography.php
            font-size: 22px
            line-height: 22px * $golden-ratio

            h2, h3, h4
                display: block

            // Should not be used in article content.
            h1, h5, h6
                color: red !important

            h2
                font-size: 26px

            h3
                font-size: 22px

            h4
                font-size: 18px

            ul
                list-style: circle

            blockquote
                color: lighten($madison, 15%)
                border-left: 10px solid $porcelain
                padding-left: $x-width / 2
                margin-left: $x-width / 4

            code
                font-family: Inconsolata-g, Inconsolata, "Courier New", Courier, monospace
                font-size: 9pt
                color: $madison

            pre
                background: $ebony-clay
                line-height: .8
                padding: 10px
                margin:
                    top: $y-height / 2
                    bottom: $y-height / 2
                overflow-y: hidden

        footer
            &.is-excerpt
                @include improved-underline

                a
                    font-weight: bold
                    font-size: 15px
                    letter-spacing: 1px

            nav
                margin-top: $y-height

                ul
                    list-style: none
                    padding-left: 0

                li
                    display: inline-block
                    margin-right: 5px

                    a
                        display: inline-block
                        padding: 10px ($x-width / 2)
                        text-decoration: none
                        font-size: 20px
                        color: $cararra

                li.twitter
                    background: #55ACEE

                li.facebook
                    background: #3B5998

                li.hacker-news
                    background: #FF8937

                li.lobsters
                    background: #ac120d

            #disqus_thread
                margin-top: $y-height

    article + article
        margin-top: $y-height

#footer
    color: $cararra
    font-size: 20px

    & > div
        background: $curious-blue
        padding-left: 20%
        padding:
            top: $y-height / 2
            bottom: $y-height / 2

    @include improved-underline

    a
        color: $cararra

    #footer-author
        letter-spacing: .5px
        font-weight: bold

        &:after
            // Removes underline.
            border: 0

    #footer-quote
        margin-top: 5px
        display: block

        sup
            font-size: 12px

    nav
        font-size: 18px

        ul
            list-style: none
            padding-left: 0

        li
            display: inline
            padding-right: $x-width / 2

@media (max-width: $body-width + $header-width * 2 + $x-width * 2)
    #body
        margin-left: $x-width
        margin-right: $x-width

    #footer
        & > div
            padding-left: $x-width

@media (max-width: $body-width + $header-width + $x-width * 3)
    #header
        h1
            position: static
            margin:
                top: $y-height / 2
                left: $x-width

            $scale: .75
            width: $header-width * $scale
            height: $header-height * $scale
            background-size: $header-width * $scale $header-height * $scale

@media (max-width: $body-width)
    #header
        h1
            margin:
                left: $x-width / 2

    #body
        margin:
            top: $y-height
            bottom: $y-height / 2
            left: $x-width / 2
            right: $x-width / 2

        article
            section
                ul, ol
                    padding-left: $x-width / 2

                blockquote
                    padding-left: $x-width / 4
                    margin-right: $x-width / 4

                pre
                    margin:
                        top: 20px
                        bottom: 20px

            footer
                #disqus_thread
                    margin-top: $y-height / 2

                nav
                    li
                        margin:
                            top: 5px
                            right: 0

        article + article
            margin-top: $y-height / 2

    #footer
        margin-top: $y-height / 2

        & > div
            padding-left: $x-width / 2

        nav
            li
                display: block

            li + li
                padding-top: 10px
