<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title == "Home" %}{{ site.title }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="stylesheet" href="/static/styles/normalize-3.0.1.css">
        <link rel="stylesheet" href="/static/styles/base16-eighties.css">
        <link rel="stylesheet" href="/static/styles/main.css">

        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
        <link rel="icon" type="image/png" sizes="196x196" href="/favicon-196.png">
        <link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
        <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png">
        <link rel="apple-touch-icon" href="/favicon-57.png">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="/favicon-144.png">
        <meta name="msapplication-config" content="/browserconfig.xml">

        <link rel="alternate" type="application/atom+xml" title="News Feed (Atom)" href="/atom.xml">

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-7141181-7', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body>
        <header id="header">
            <a href="/" title="Go to {{ site.title }}">
                <h1>{{ site.title }}</h1>
            </a>
        </header>

        <div id="body">
            <section>
                {{ content }}
            </section>
        </div>

        <footer id="footer">
            <div>
                <p>
                    <a href="/" id="footer-author">&copy;&nbsp;{{ site.author }}</a>
                    <em id="footer-quote"><a href="https://stallman.org/articles/on-hacking.html" title="“On Hacking” by Richard Stallman" target="_blank">Hacker<sup>[0]</sup></a>, software developer and wannabe blogger</em>
                </p>

                <nav>
                    <ul>
                        <li><a href="/about-me">About Me</a></li>
                        <li><a href="/contacts">Contacts</a></li>
                        <li><a href="https://google.com/search?q=site:dagrev.is" target="_blank">Search</a></li>
                        <li><a href="https://github.com/daGrevis/daGrev.is" target="_blank">Source Code</a></li>
                    </ul>
                </nav>
            </div>
        </footer>

        <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
        <script src="/static/scripts/main.js"></script>
    </body>
</html>
