---
layout: default
---

<article>

    <header>

        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m" }}</time>

    </header>

    <section>

        {{ content }}

    </section>

    <footer>

        <nav>
            <ul>
                <li><a href="https://twitter.com/home?status={{ page.title }}+{{ site.url }}{{ page.url }}" target="_blank" class="twitter">Twitter</a></li>
                <li><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" class="google-plus">Google+</a></li>
                <li><a href="#" class="hacker-news">Hacker News</a></li>
                <li><a href="#" class="lobsters">Lobsters</a></li>
            </ul>
        </nav>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'dagrevis';

            (function() {
             var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
             dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
             })();
        </script>

    </footer>

</article>
