---
layout: default
---

<article>
    <header>
        <h1><a href="{{ post.url }}">{{ page.title }}</a></h1>
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m" }}</time>
    </header>

    <section>
        {{ content }}
    </section>

    <footer>
        <nav>
            <ul>
                <li class="twitter">
                    <a href="https://twitter.com/share?text={{ page.title | uri_escape }}&amp;url={{ site.url | uri_escape }}{{ page.url | uri_escape }}" target="_blank">Twitter</a>
                </li>
                <li class="facebook">
                    <a href="https://facebook.com/sharer/sharer.php?u={{ site.url | uri_escape }}{{ page.url | uri_escape }}" target="_blank">Facebook</a>
                </li>
                <li class="hacker-news">
                    <a href="https://news.ycombinator.com/submitlink?u={{ site.url | uri_escape }}{{ page.url | uri_escape }}&amp;t={{ page.title | uri_escape }}" target="_blank">Hacker News</a>
                </li>
                <li class="lobsters">
                    <a href="https://lobste.rs/stories/new?url={{ site.url | uri_escape }}{{ page.url | uri_escape }}&amp;title={{ page.title | uri_escape }}" target="_blank">Lobsters</a>
                </li>
            </ul>
        </nav>

        <div id="disqus_thread"></div>
        <script>
            var disqus_shortname = 'dagrevis';
            (function() {
             var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
             dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
             })();
        </script>
    </footer>
</article>
